.noidungto{
    height: 100%;
    transition: 0.4s;
    padding-top: 10%;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    overflow-x: hidden;
}
.menutrai {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: green;
    z-index: 2;
    transition: 0.4s;
    transform: translateX(-100%);
}


li.list-group-item {
    background: none;
    color: white;
    border-color: white;
    text-transform: uppercase;
}
*{
    margin: 0;
    padding: 0;
}

.den {
    transition: 0.4s;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #00000042;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    cursor: pointer;
}

h3.text-center {
    color: white;
    margin: 30px;
}

.nut.btn.btn-success {
    
    width: 100px;
   margin-left: auto;
   margin-right: auto;
   display: block;
    cursor: pointer;
   
}
.vetrai{
    transform: translateX(-100%);
}
.len{
    opacity: 1;
    display: inline;
}
.dichphai{
    transform: translateX(300px);
}